@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.netflix-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url('https://assets.nflxext.com/ffe/siteui/vlv3/914ad279-199e-4095-9c10-2409dc9e5e1b/web/IN-en-20250519-TRIFECTA-perspective_8f1ca896-9e49-4a4e-90f0-22fc49650bd9_large.jpg');
    background-size: cover;
    height: 100vh;
    padding-top: 2vh;
    margin-bottom: 0.5vh;

}

.top-pad {
    margin-left: 8vh;
    margin-right: 8vh;
}

.logo {
    height: 8vh;

}

.netflix_top_dropdown {
    color: white;
    font-size: 2vh;
    border-color: #b0b3b8;
    height: 5vh;
    margin-top: 2vh;
    margin-right: 1vh;
    border-radius: 5px;
    font-family: "Segoe UI";
}

.netflix_top_dropdown_trans_sym {
    height: 3vh;
}

.sign-in-btn {
    background-color: red;
    color: white;
    margin-top: 2vh;
    margin-right: 2vh;
    height: 5vh;
    padding-right: 1vw;
    padding-left: 1vw;
    text-align: center;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 2vh;
}

.top-center-card {
    color: white;
    text-align: center;
    margin-top: 35vh;
}

.top-center-card-head {
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 7vh;
    margin-bottom: 2vh;
}

.top-center-card-para {
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 2.5vh;
    margin-bottom: 4vh;
}

.top-center-card-para-second {
    font-family: "roboto";
    font-size: 2.4vh;
    margin-bottom: 3vh;
}

.top-email {
    width: 45vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6));
    height: 7vh;
    font-size: 2.3vh;
    color: #b0b3b8;
    padding: 2vh;
    font-family: "roboto";
    border-radius: 5px;
}

.top-email-button {
    color: white;
    font-size: 2.5vh;
    background-color: red;
    height: 7vh;
    border-radius: 8px;
    font-family: "Segoe UI";
}

.netflix-down-bg {
    background-color: black;
    background-size: cover;
    padding-bottom: 20vh;
}

.top_border {
    border-top: solid;
    border-top-width: 30px;
    border-color: grey;
}

.netflix_down_head {
    font-family: "Segoe UI";
    font-size: 4vh;
    color: white;
    margin-bottom: 3vh;
}

.margin-top {
    padding-top: 6vh;
    padding-left: 12vh;
    padding-right: 12vh;
}

.card_bg {
    background: #070730;
    background: linear-gradient(90deg, rgba(7, 7, 48, 1) 0%, rgba(163, 75, 75, 1) 100%);
    padding: 2vh;
    margin-right: 2.5vh;
    border-radius: 2vh;

}

.card-head {
    font-family: "Segoe UI";
    font-size: 3vh;
    color: white;
    margin-bottom: 3vh;
}

.card-para {
    font-family: "Segoe UI";
    font-size: 2.5vh;
    color: #b0b3b8;
    padding-bottom: 12vh;
    font-weight: 500;
}

.after-card-margin {
    margin-bottom: 6vh;
}

.about_sym {
    height: 9vh;
    color: white;
    width: 6vh;

}

.about-card_whole {
    background-color: #383838;
}

.about-head_para {
    color: white;
    font-size: 3vh;
}

.about-head_para_down_margin {
    margin-bottom: 2vh;
}

.about-all-head {
    color: white;
    text-align: center;
    font-size: 4vh;
}

.down-center-card-para-second {
    color: white;
    text-align: center;
    font-family: "roboto";
    font-size: 3vh;
}

.down-email {
    width: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6));
    height: 9vh;
    font-size: 3vh;
    padding: 2vh;
    color: #b0b3b8;
    font-family: "roboto";
    border-radius: 1vh;
}

.down-email-button {
    margin-top: 1vh;
    color: white;
    font-size: 2.5vh;
    background-color: red;
    height: 7vh;
    width: 12vw;
    border-radius: 8px;
    font-family: "Segoe UI";
}

.q-card-head {
    font-size: 2.5vh;
    color: #b0b3b8;
    text-decoration: underline;
    margin-top: 8vh;
    margin-bottom: 5vh;
}

.last-para {
    font-size: 2vh;
    color: #b0b3b8;
    text-decoration: underline;
}

.last-row-margin {
    margin-bottom: 5vh;
}

.last-end-words {
    font-size: 2vh;
    color: blue;
    text-decoration: underline;
}

.whole_netflix_bg {
    background-color: #b0b3b8;
    background-size: cover;
}

.last-translate-margin {
    margin-bottom: 4vh;
}

.last-title-words {
    color: #b0b3b8;
    font-size: 2.2vh;
}

.last-netflix {
    font-size: 2.5vh;
    font-weight: 600;
    margin-bottom: 5vh;
}
